<!DOCTYPE html>
<html lang="en">
<head>
  <title>QuantBit API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .bs-example{
    	margin: 50px;
    }
  </style>
</head>
<body>
    <br/>
  <div class="bs-example">
    <div class="panel panel-primary" >
        <div class="panel-heading"><%= title %></div>
        <div class="panel-body" style="min-height: 10; max-height: 10;">Control Panel | <%= randon %></div>
    </div>
  </div>
</body>
</html>
