<!DOCTYPE html>
<html lang="en">
<head>
  <title>QuantBit API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .bs-example{
    	margin: 50px;
    }
  </style>
</head>
<body>
    <br/>
  <div class="bs-example">

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><%= title %></div>
        <div class="panel-body">
          <p>The following routes are currently available API features.</p>
        </div>
        <!-- List group -->
        <div class="list-group">
          <a href="/cryptos" class="list-group-item">/cryptos<span class="badge">50</span>
          </a>
          <a href="/cryptos/5a9d4c743c1ec46a0454e0f1" class="list-group-item">/cryptos/:id<span class="badge">145</span>
          </a>
          <a href="/cryptos/order/1" class="list-group-item">/cryptos/order/:order<span class="badge">30</span>
          </a>  
          <a href="/cryptos/code/BTC" class="list-group-item">/cryptos/code/:cod<span class="badge">65</span>
          </a>
          <a href="/cryptos/update" class="list-group-item">/cryptos/update<span class="badge">42</span>
          </a>
        </div>
      </div>


  </div>
</body>
</html>

